<section class="shipment-list-container">
  <header class="shipment-list-header flex items-center justify-between m-2">
    <h2>Shipments</h2>

    <div class="flex items-center gap-2">
      <label class="state-filter" for="shipment-state-filter">
        State
        <p-select
          id="shipment-state-filter"
          [options]="stateOptions"
          [ngModel]="selectedState()"
          (ngModelChange)="onStateChange($event)"
        />
      </label>

      <button
        pButton
        type="button"
        icon="pi pi-plus"
        (click)="showCreateModal.set(true)"
      >New Shipment</button>
    </div>
  </header>

  @if (shipmentsList$ | async; as shipmentsList) {
    <p-table
      [value]="shipmentsList.data"
      [loading]="isLoading()"
      [tableStyle]="{ 'min-width': '54rem' }"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Addressee</th>
          <th>Destination</th>
          <th>State</th>
          <th>Delivered Date</th>
          <th>Actions</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-shipment>
        <tr>
          <td>{{ shipment.id }}</td>
          <td>{{ shipment.addressee }}</td>
          <td>{{ shipment.destination }}</td>
          <td>
            <p-tag
              [severity]="stateSeverity(shipment.state)"
              [value]="formatState(shipment.state)"
            ></p-tag>
          </td>
          <td>
            @if (shipment.delivered_at) {
              {{ shipment.delivered_at | date: 'short' }}
            } @else {
              -
            }
          </td>
          <td>
            <button
              pButton
              type="button"
              size="small"
              label="View details"
              icon="pi pi-eye"
              (click)="onViewDetails(shipment.id)"
            ></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">No shipments found for the selected filters.</td>
        </tr>
      </ng-template>
    </p-table>

    <p-paginator
      [first]="first"
      [rows]="rows()"
      [totalRecords]="totalRecords()"
      [rowsPerPageOptions]="[10, 20, 50]"
      (onPageChange)="onPageChange($event)"
    ></p-paginator>
  }

  <app-create-shipment-modal
    [visible]="showCreateModal()"
    (visibleChange)="showCreateModal.set($event)"
    (shipmentCreated)="onShipmentCreated()"
  />
</section>
